<ion-view title="Camera Tab Default Page" id="page2">
  <ion-content padding="true" class="has-header">
    <h1 id="cameraTabDefaultPage-heading1" style="color:#000000;">Heading</h1>
    <div id="cameraTabDefaultPage-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div>
      <img id="image" src="" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="cameraTabDefaultPage-button-bar1" class="button-bar">
      <a ng-click="TakePics()" id="cameraTabDefaultPage-button6" class="button button-positive button-block icon ion-ios-camera-outline"></a>
      <a ui-sref="tabsController.nutrition()" id="cameraTabDefaultPage-button7" class="button button-positive button-block icon ion-ios-box-outline"></a>
    </div>
  </ion-content>
</ion-view>