<ion-view title="Exercise" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="exercise-form1" class="list">
      <label class="item item-input" id="exercise-input1">
        <input type="text" placeholder="Weight (Pounds)">
      </label>
    </form>
    <div id="exercise-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div id="exercise-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div id="exercise-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <ion-list id="exercise-list1">
      <ion-item class="item-thumbnail-left" id="exercise-list-item7">
        <img src="img/gV2jAJjeT26OaAdfKccy_8406.png">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="exercise-list-item12">
        <img src="img/5qUQOujnReSZjCudUx7I_185584.png">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="exercise-list-item11">
        <img src="img/jO3UO8NRfClyDz5aDJrP_185612.png">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="exercise-list-item8">
        <img src="img/RCEG4a8jQViIrWZivUCR_185620.png">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="exercise-list-item9">
        <img src="img/BYkOOhrbQHikQjmk9IIX_Sports-Exercise-icon.png">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="exercise-list-item10">
        <img src="img/o6dznXrfRCOrUWZZ2Uxf_Surfer-512.png">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>