<ion-view title="Exercise" id="page4" ng-init="Init">
  <ion-content padding="true" class="has-header">
    <form id="exercise-form1" class="list">
      <label class="item item-input" id="exercise-input1">
        <input type="text" ng-model="weight" id="weight" type="number" placeholder="Weight (Pounds)">Pounds
      </label>
    </form>
    <div id="exercise-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Total Catories: 
        <strong>{{ttlcat}}</strong>
      </p>
    </div>
    <div id="exercise-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Total Fat:
        <strong>{{ttlfat}}</strong>
      </p>
    </div>
    <div id="exercise-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Total Carbohydrates:
        <strong>{{ttlch}}</strong>
      </p>
    </div>
    <div id="exercise-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Total Proteins: 
        <strong>{{ttlpt}}</strong>
      </p>
    </div>
    <ion-list id="exercise-list1">
      <ion-item class="item-thumbnail-left" id="exercise-list-item7">
        <img src="img/gV2jAJjeT26OaAdfKccy_8406.png">
        <h2 ng-bind="swimTime(ttlcat, weight)"></h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="exercise-list-item12">
        <img src="img/situp.png">
        <h2 ng-bind="situpTime(ttlcat, weight)"></h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="exercise-list-item11">
        <img src="img/basketball.png">
        <h2 ng-bind="bballTime(ttlcat, weight)"></h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="exercise-list-item8">
        <img src="img/RCEG4a8jQViIrWZivUCR_185620.png">
        <h2 ng-bind="boxTime(ttlcat, weight)"></h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="exercise-list-item9">
        <img src="img/biking.png">
        <h2 ng-bind="bikingTime(ttlcat, weight)"></h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="exercise-list-item10">
        <img src="img/pilates.png">
        <h2 ng-bind="pilatesTime(ttlcat, weight)"></h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>