<ion-view title="Exercise" id="page4" ng-init="Init">
    <ion-nav-title>
      <img src="img/Snapcount.png" style="height: 30px; width: 150px; left: 6px; top: 8px; position: fixed;">
    </ion-nav-title>
  <ion-content padding="true">
    <!--  class="has-header" --> 
  <div class="hero slide-up" id = "block1" style="background-image: url('img/Food_Wallpaper.jpg');" >
   <!-- <form id="exercise-form1" class="list">
      <label class="item item-input" id="exercise-input1">
        <input type="text" ng-model="weight" id="weight" type="number" placeholder="Weight (Pounds)">Pounds
      </label>
    </form>--> 
  </div>
    <div class ="content">
  <!--  <div class="avatar" id="exercise-markdown6"> --> 
    <br>
    <!--class="show-list-numbers-and-dots"-->
    <a class = "icon-circle-large" style="margin: auto; left: 30%; padding: 20px">
      <h4  style="color:#000000; ">CALORIES<br><br><strong>{{ttlcat}}</strong>
     </h4>
    </a>
    <br>
  
    <table>
    <tr>
      <td>
    <div class="extable" id="exercise-markdown7" >
      <span style="color:#000000; display:inline-block; width:80px; text-align: center"> FAT 
        <strong>{{ttlfat}}</strong>
      </span>
    </div>
      </td>
      <td>
    <div class="extable" id="exercise-markdown5" >
      <span style="color:#000000; display:inline-block; width:150px;text-align: center"> CARBOHYDRATES
   <strong>{{ttlch}}</strong>
      </span>
    </div>
      </td>
     <td>
    <div class="extable" id="exercise-markdown5" class="show-list-numbers-and-dots">
      <span style="color:#000000; display:inline-block; width:100px; text-align: center">
     PROTEINS 
        <strong>{{ttlpt}}</strong>
      </span>
    </div>
  
    </td>
    </tr>
    </table>

    </div>
    
  

    <div class = "list animate-fade-slide-in-right" style="padding: 20px; height: 100%; width:100%; background-color: transparent;">
   <!-- <ion-list id="exercise-list1"> --> 
     <table>
  
          <tr class="item-thumbnail-left">
            
               <td> <img style="width: 50px; height:50px;" src="img/gV2jAJjeT26OaAdfKccy_8406.png"> 
               </td>
               <td> <h2 style="padding: 20px;" ng-bind="swimTime(ttlcat, weight)"></h2>
               </td>
           </tr>

           <tr class="item-thumbnail-left">
            
               <td> <img style="width: 50px; height:50px;" src="img/situp.png"> 
               </td>
               <td> <h2 style="padding: 20px;" ng-bind="situpTime(ttlcat, weight)"></h2>
               </td>
           </tr>

            <tr class="item-thumbnail-left">
            
               <td> <img style="width: 50px; height:50px;" src="img/basketball.png"> 
               </td>
               <td> <h2 style="padding: 20px;" ng-bind="bballTime(ttlcat, weight)"></h2>
               </td>
           </tr>

            <tr class="item-thumbnail-left">
            
               <td> <img style="width: 50px; height:50px;" src="img/RCEG4a8jQViIrWZivUCR_185620.png"> 
               </td>
               <td> <h2 style="padding: 20px;" ng-bind="boxTime(ttlcat, weight)"></h2>
               </td>
           </tr>
   
          <tr class="item-thumbnail-left">
            
               <td> <img style="width: 50px; height:50px;" src="img/biking.png"> 
               </td>
               <td> <h2 style="padding: 20px;" ng-bind="bikingTime(ttlcat, weight)"></h2>
               </td>
           </tr>
  
        <tr class="item-thumbnail-left">
            
               <td> <img style="width: 50px; height:50px;" src="img/pilates.png"> 
               </td>
               <td> <h2 style="padding: 20px;" ng-bind="pilatesTime(ttlcat, weight)"></h2>
               </td>
           </tr>
  
    </table>

    </div>
  </ion-content>
</ion-view>