<ion-view title="Camera Tab Default Page" id="page2">
  <ion-nav-title>
      <img src="img/Snapcount.png" style="height: 30px; width: 150px; left: 6px; top: 8px; position: fixed;">
</ion-nav-title>
  <ion-content padding="true" class="has-header">
    <div class="hero slide-up" style="height: 100px; width: 100%; left:0%; right:100%; position:center; background-image: url('img/doughnut.jpg');">
    <h2 id="cameraTabDefaultPage-heading1" style="color:#f53d3d;" ng-bind="heading"></h2>
    </div>
<!--
    <div id="cameraTabDefaultPage-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
-->
    <div id="cameraTabDefaultPage-button-bar1" class="button-bar" style="position: fixed;bottom: 5px; left:0px; background-color: transparent">
      <a ng-click="TakePics()" id="cameraTabDefaultPage-button6" style="background-color: #f53d3d" class="button button-positive button-block icon ion-ios-camera-outline"></a>
    </div>
  </ion-content>
</ion-view>