/* Empty. Add your own CSS if you like */
html, body, .ion-app, .ion-content {
  background-color: transparent;
}

.icon-circle, .icon-circle-large, .icon-circle-small{
  position: relative;
  display: inline-block;
  margin: -1px;
  /*padding: 16px;*/
  
  
  width: 45px; /* 60*/
	height: 45px; 
  font-size:40px; 
  
   -moz-border-radius:50%;
  -webkit-border-radius:50%;
	border-radius: 50%;
  
	
  
  border: 1px solid #ebebeb;
 
  background: rgb(0, 161, 225); /*#ececec;ebebeb*/
  color: #fff;
  
  text-align:center;
  /*vertical-align: middle;*/
}

.icon-circle-large {
  width: 150px;
  height: 150px;
  font-size: 70px; /* 64, originally 60 */
  padding: 16px;
  background: #ffffff;
  opacity: 0.85;
}
.extable {
   background: #ffffff;
  opacity: 0.85;
}

#block1 {
  height: 200px; 
  width: 100%; 
  left:0%; 
  right:100%; 
  position: fixed; 
  background-image: url('img/Food_Wallpaper.jpg');}
  /* background: #ffffff ;
background: -webkit-linear-gradient(  #e67e22, #f39c12);
background: -moz-linear-gradient( #e67e22, #f39c12);
background: -o-linear-gradient(#e67e22, #f39c12);
background: linear-gradient( #e67e22 , #f39c12);
}
 /* For Safari 5.1 to 6.0 */
 /* For Opera 11.1 to 12.0 */
 /* For Firefox 3.6 to 15 */
 /* Standard syntax (must be last) */
  #block2 {
  height: 100%; 
  width: 100%; 
  left:0%; 
  right:100%; 
  position: fixed; }
  

.icon-circle-small {
  width: 24px;
  height: 24px;
  font-size: 20px;
}


/*.icon-circle i, .icon-circle-small i, .icon-circle-large i { vertical-align: middle; }*/

.icon-circle-outline {
   border: 1px solid rgb(0, 161, 225);
   background: transparent;
  color: rgb(0, 161, 225);
   /*color: #8a6de9;*/
}

.icon-circle-outline i {  }
/*icon-circle-bg and icon-circle and circle-bg*/




/*http://davidwalsh.name/css-circles*/



.item-icon-circle {
   -moz-border-radius:50%;
  -webkit-border-radius:50%;
	border-radius: 50%;
	width: 100px;
	height: 100px; 
  /* width and height can be anything, as long as they're equal */
  
  text-align:center;
  color:white;
  /* font size here wont work */

}

.item-icon-circle i {
  /*text-align:center;
  color:white;*/
   /*margin: 0px auto;
  padding: 0px;
  display:block;*/
  font-size:60px;
}



	

body {font-family: Roboto, Helvetica, Arial, sans-serif;}


	



/*
    letter-spacing: 1px;
  overflow: hidden;
  
  
    perspective-origin: 40px 40px;
    transform-origin: 40px 40px;
    background: rgb(0, 161, 225) none repeat scroll 0% 0% / auto padding-box border-box;
*/

.bg-circle-alt {
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
	border-radius: 50%;
	width: 100px;
	height: 100px; 
}

h2{
  font-size: 20px;
}



